// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family:'space_1';
    src: url('assets/space_1-webfont.eot');
    src: url('assets/space_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/space_1-webfont.woff') format('woff'),
         url('assets/space_1-webfont.ttf') format('truetype'),
         url('assets/space_1-webfont.svg#space_1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "UpperEastSide";
    src: url('assets/UpperEastSide.ttf');
}



body {
  	padding-left: 0em;
  	font-family: Helvetica, Georgia, "Times New Roman",Times, serif;
    color: #cc6600;
    background-image:url('assets/fond_app.jpg');
  }

  .logo {
  height:80px
  }

  #cigarette {
    height: 200px;
    width: 200px;
    position: relative;
    left:-5px;
  }

  #cigarette img {
    position: absolute;
    width: 150px;
    left:-3px;
  }

  #connect { 
    position: relative;
    top: 3px;
    left: -6px;
  }

  #username_connect { 
    border: none;
    height: 17px;
    font-size: 16px;
  }

  #username_create { 
    border: none;
    height: 17px;
    font-size: 16px;
  }

  #create { 
    positon: relative;
    top: 3px;
    left: -6px;
  }

  #content {
  width: 270px;
  margin: 3px;
  padding: 0px;
  }

  .demo-container {
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  padding: 3px 2px 3px 2px;
  margin: 1px auto 30px auto;
  border: 1px solid #ddd;
  background: null;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  }

  .demo-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
  }

  h1 {
  	font-family: "UpperEastSide", Helvetica, Geneva, Arial, SunSans-Regular,sans-serif;
    color: #0099cc;
    font-size:400%;
  }
  h2 {
    font-family: "space_1", Helvetica, Geneva, Arial, SunSans-Regular,sans-serif;
    color: white
  }

  a:link {
  	color:#0099cc
  }
  a:visited {
  	color:#cc6600
  }
  address {
    font-family: Helvetica;
    font-size: 11px;
    color:white;
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
  }
